<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("評価", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @posted.each do |posted| %>
      <% post = Post.find_by(id: posted.post_id) %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{posted.user.image}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(posted.user.name, "/users/#{posted.user.id}") %>
            <span class="rating-star"><i class="star-actived rate-<%= posted.rate %>0"></i></span>
          </div>
          <%= link_to(posted.content, "/posts/#{posted.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>